
<div class="container">
<div class="content">


<h1>Systémy hodnotenia zápasov:</h1>

<p>

    Základná odmena: 5 bodov/zápas  <br><br>
    Z odmeny sa odpočíta rozdiel tipovaných a strelených gólov jednotlivých mužstiev v jednom zápase. <br><br>
    V prípade správneho tipu víťaza/remízy sa pripočíta 5 bod <br><br>
    Príklad: Janko tipol výsledok 2:1. Zápas skončil 2:3 -> 5b – (2-2) – (3-1) = 3b <br><br>
    Príklad: tip 3:1, výsledok 2:0 -> 5b – (3-2) – (1-0) + 5b (správny tip víťaza) = 8b <br><br>
</p>
 

 <h3>Bonusové tipy:</h3>


Pred skupinovou fázou: 20b<br><br>
Pred pavúkom: 10b<br><br>
Tip na najlepšieho strelca: 15b<br><br>
 

<h3>Postup tipovania:</h3>

Do začatia turnaja zúčastnení natipujú všetky zápasy základnej skupiny a celkového víťaza.<br><br>
Po skončení skupinovej fázy a pred prvým zápasom pavúka majú možnosť druhého tipu na celkového víťaza (za menej bodov)<br><br>
Zápasy pavúka sa tipujú vždy pred odohraním prvého zápasu daného kola.<br><br>
Osemfinále – 8 zápasov<br><br>
Štvrťfinále – 4 zápasy<br><br>
Semifinále – 2 zápasy<br><br>
Finále – 1 zápas<br><br>
Vytvorený tiket sa automaticky pošle po vypísaní a potvrdení formulara.<br><br>
Tipuje sa výsledok zápasu v riadnom hracom čase (90min + nastavenie) bez predĺženia<br><br>


<h3>Výhry:</h3>


Miesto: 50% kapitálu + možno pohár + sponzorské dary<br><br>
Miesto 30% kapitálu + sponzorské dary<br><br>
Miesto 20% kapitálu + sponzorské dary<br><br>
 

 

<h3>Podmienky súťaže</h3>

Všetky tipu musia byť ukončené do stanoveného termínu<br><br>
V prípade, že účastník netipne zápas, automaticky sa ako výsledok vyznačí výsledok 0:0<br><br>
V prípade, že účastník netipne celkového víťaza, tip vygeneruje náhodný generátor M4t3jD1v15<br><br>
Kapitál je celková vyzbieraná suma zo vstupných vkladov mínus cena výhier (pohár stojí 5e, medaile dokopy max 1,5e)<br><br>
Vstupný vklad je pre každého účastníka rovnaký. A to 10€.<br><br>
Peniaze môžete posielať na transparentný účet: 'SK04 5600 0000 0066 4309 4001'<br><br>

</div>

</div>