


<form class="container" [formGroup]="form">

    <h1>Vytvor tiket na Semifinále</h1>
    <mat-form-field appearance="fill" class="long-input" >
        <mat-label>Tvoje meno</mat-label>
        <input matInput formControlName="yourName">
    </mat-form-field>

    <!-- <mat-form-field appearance="fill" class="long-input">
        <mat-label>Celkový víťaz druhý tip</mat-label>
        <input  matInput formControlName="winner2">
    </mat-form-field> -->


    <!-- <mat-form-field appearance="fill" class="long-input">
        <mat-label>Najlepší strelec</mat-label>
        <input matInput formControlName="topStriker">
    </mat-form-field> -->

    <div formGroupName="matches">
        <div  *ngFor="let m of this.matches" class="match" [formGroupName]="calcService.getMatchId(m)">

            <mat-form-field appearance="fill">
                <mat-label>{{m.home}}</mat-label>
                <input type="number" matInput formControlName="homeScore">
            </mat-form-field>
            VS
            <mat-form-field appearance="fill">
                <mat-label>{{m.away}}</mat-label>
                <input type="number" matInput formControlName="awayScore">
            </mat-form-field>
        </div>
    </div>
</form>

<button style="margin: 1em; width: 60%;" (click)="submit($event)" mat-raised-button>Potvrdiť</button>