<div class="auth-bar">
  @if (auth.isLoggedIn()) {
    <span>Prihlásený: {{ auth.currentUser()?.username }}</span>
    <button mat-button (click)="logout()">Odhlásiť</button>
  } @else {
    <button mat-button (click)="openLogin()">Prihlásiť sa</button>
  }
</div>

<mat-tab-group
  [backgroundColor]="'primary'"
  [selectedIndex]="tabIndex"
  (selectedIndexChange)="onTabChange($event)"
>
  <mat-tab label="{{ auth.currentUser()?.is_admin ? 'Admin' : 'Môj tiket' }}">
    <ng-container *ngIf="auth.currentUser()?.is_admin; else userTicket">
      <app-admin></app-admin>
    </ng-container>
    <ng-template #userTicket>
      <app-my-ticket></app-my-ticket>
    </ng-template>
  </mat-tab>
  <mat-tab label="Domov">
    <app-main></app-main>
  </mat-tab>
  <mat-tab label="Pravidlá">
    <app-rules></app-rules>
  </mat-tab>
</mat-tab-group>
